
.shows {
  --count: 2;
  --gap: 16px;
  --padding: 16px;
  --offset: 14px;
  padding: 0 var(--padding);
}

@media (min-width: 768px) {
  .shows { --count: 3; }
}
@media (min-width: 992px) {
  .shows { --count: 4; }
}
@media (min-width: 1200px) {
  .shows { --count: 5; }
}

@media (min-width: 1700px) {
  .shows { --count: 6; }
}

@media (min-width: 1920px) {
  .shows { --count: 7; }
}

.shows__container {
  --size: calc(
    calc(
      calc(calc(100vw - calc(var(--padding) * 2)) - var(--offset))
      - calc(var(--gap) * calc(var(--count) - 1))
    ) / var(--count));
   margin-right: calc(var(--gap) * -1);

  display: flex;
  flex-wrap: wrap;

}

.show-card {
  text-decoration: none;
  color: #000;
}

.show-card:hover {
  
}

.show-card__container {
  flex: 0 0 auto;
  position: relative;
  width: var(--size);
  height: var(--size);

  margin: 0 var(--gap) var(--gap) 0;
  overflow: hidden;


  border: 1px solid #ddd;
  border-radius: 4px;
}

.show-card__img {
  width: 100%;
  height: 100%;
  display: block;
}

.show-card__title {
  padding: 0;
  margin: 0 0 8px 8px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;

  white-space: nowrap;
}


.items {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.items__list {
  list-style: none;
  margin: 0;
  padding: 0;

  line-height: 40px;
}
.item {
  padding: 0 16px;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.item__date {
  min-width: 10ch;
}
.item__title {
  flex: 1 0 0;
}
.item__duration {
  min-width: 10ch;
  text-align:center;
}
.item__play {
  border: none;
  background-color: #f53;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  align-self: center;
}

.item__performers {}
.item__performer {
  
  /*background-color: #0002;*/
  /*border-radius: 4px;*/
}

.item__performer:not(:last-child) {
  margin-right: 8px;
}
